* {
	padding: 0;
	margin: 0;
}
	
#logotext {
		float:left;
		padding: 20px;
}
#logo {
		float: right; 
}

#header {
	height:200px;
	background:url('../img/fon.jpg');
}
#menu {
	display:flex;
}
#menu a{
	flex:1;
	padding:10px;
	text-align:center;
	background: Gainsboro;
	color:black;
	border-right: solid 1px white;
	text-decoration: none;
	font-family: arial;
}
#menu a:hover {
	background: lightgrey;
	color: grey;
	font-style: italic;
	
}

	
#content {
	
	text-align:center;
	height: 380px;
	background: AliceBlue;
}
#welcome {
	text-align:center;
}
#footer {
	background: Silver;
	color: DimGray;
	padding: 70px 10px;
	text-align:center;
}
.right {
	float:right;
}

#w { display: block; width: 800px; margin: 0 auto; margin-top: 55px; } 


#ddmenu {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(20, 20, 20, 0.2);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8aa8bd;
}

#ddmenu li { display: block; position: relative; float: left; font-size: 1.45em; text-shadow: 1px 1px 0 #fff; border-right: 1px solid #dae0e5; }

#ddmenu li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 78px;
  font-weight: bold;
  text-decoration: none;
  color: #6c87c0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu li:hover > a { color: #7180a0; background: #d9e2ee; }

#ddmenu ul {
  position: absolute;
  top: 88px;
  width: 130px;
  background: #fff;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index:99;
}

/* Стрелочки */
#ddmenu ul:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 8px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #fff transparent; 
}

#ddmenu ul:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 4px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;  
}

#ddmenu ul li { 
  display: block; 
  width: 100%; 
  font-size: 0.9em; 
  text-shadow: 1px 1px 0 #fff;
}

#ddmenu ul li a {
  display: block;
  width: 100%;
  padding: 6px 7px;
  line-height: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul li a:hover {
  background: #e9edf3;
}
.modal-window{
	position: fixed;
	top: 150px;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	padding: 10px;
	border: solid 1px grey;
	box-shadow:  1px 1px 1px black;
	border-radius: 6px;
	background: white;
	
	z-index: 99;
	
}
.modal-close-btn{
	position: absolute;
	top: 1px;
	right: 1px;
	margin: 0;
	text-decoration: none;
	color: red;
	font-size: 18px;
}
#overlay{
	background: black;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
